<h1>Current Player: {{ player }} </h1>

<button (click)="newGame()">Start new Game</button>


<h2 *ngIf ="winner">
   <ng-container *ngIf="winner==='X'">
   You beat AI,you won the game!
   </ng-container>
   <ng-container *ngIf="winner==='O'">
    AI is better than you lol 
    </ng-container>
   <ng-container *ngIf="winner==='draw'">
    It is a draw.
   </ng-container>
   
</h2>


<main>
    <app-square 
      *ngFor="let val of squares; let i = index" 
      [value]="val"
      (click)="makeMove(i)"> 
    </app-square>
  </main>
  


